<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/style.css" rel="stylesheet">
</head>

<body>
  <section class="">
    <div class='flex items-center justify-center min-h-screen bg-gradient-to-br from-gray-900 via-gray-800 to-black'>
      <div class="flex items-center justify-center min-h-[450px]">
        <div class="border border-gray border-opacity-20 shadow-2xl sm:rounded-xl">
          <table class="w-full text-sm text-left text-gray-400 dark:text-gray-400">
            <thead class="text-xs text-gray-300 uppercase bg-gray-700 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="py-3 px-6">Nr</th>
                <th scope="col" class="py-3 px-6">Godz.</th>
                <th scope="col" class="py-3 px-6">Poniedziałek</th>
                <th scope="col" class="py-3 px-6">Wtorek</th>
                <th scope="col" class="py-3 px-6">Środa</th>
                <th scope="col" class="py-3 px-6">Czwartek</th>
                <th scope="col" class="py-3 px-6">Piątek</th>
              </tr>
            </thead>
            <tbody>
              %res%
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
